* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

:root {
  background-color: rgb(244, 244, 242);
  
  --line-color: rgb(227, 226, 226);
  --light-background: rgba(243, 240, 240, 0.964);
  --light-text: rgb(174, 174, 174);
}
